site_name: Lab automation docs

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

  - attr_list
  - md_in_html
  - pymdownx.blocks.caption

theme:
  name: material
  logo: assets/LARA_logo.svg
  features:
    - content.code.copy

plugins:
  - search
  - mermaid2
  - panzoom:
      full_screen: true